<a href="https://colab.research.google.com/github/aditya-malte/SemEval/blob/master/notebooks/Fasttext_Pretraining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import getpass
repo_name = "SemEval"
if repo_name not in os.listdir():
  username = input("User: ")
  password = getpass.getpass(prompt='Password: ', stream=None) 
  os.system("git clone https://"+username+":"+password+"@github.com/aditya-malte/"+repo_name+".git")
%cd {repo_name}
from utils_text import PreProcess
%cd ..
!ls

/content/SemEval
Error importing emoji library: demojisation may not work
/content
sample_data  SemEval  SemEval_weights_data

In [2]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)
!ln -s "/gdrive/My Drive/SemEval_weights_data" "/content/"
drive_path = "/content/SemEval_weights_data/data/"

Mounted at /gdrive
ln: failed to create symbolic link '/content/SemEval_weights_data': File exists

In [0]:
import pandas as pd

In [4]:
text_mixed =pd.read_csv("/content/SemEval_weights_data/twitter_scraped/tweets_final_mix_394468.csv", lineterminator='\n')
text_mixed.head()

   Unnamed: 0                                             tweets
0           0  Meri Kashti Nu Dar Kahda Toofan Da \nMai Gadha...
1           1  Yahaan choor ko jaza or Ghareeb ko Saza milti ...
2           2  Date Pakri Gai In Village: http://youtu.be/ddL...
3           3  Bhai tu smjha hi nahin ab tak ki aj baarish bo...
4           4  Zindagi Ki BheeK To Kisi Sourat ManGi Na Gahi,...

In [0]:
preprocess = PreProcess(sep_url=False, remove_url=True, lowercase=True,
               convert_emoji=False, solve_gaps=False).preprocess

In [6]:
preprocess("""ðŸ˜ƒPakri Gai   \n
In \nVillage:  http://youtu.be/dd gfa ..""")

'ðŸ˜ƒpakri gai in village: gfa ..'

In [7]:
text_mixed.head()

   Unnamed: 0                                             tweets
0           0  Meri Kashti Nu Dar Kahda Toofan Da \nMai Gadha...
1           1  Yahaan choor ko jaza or Ghareeb ko Saza milti ...
2           2  Date Pakri Gai In Village: http://youtu.be/ddL...
3           3  Bhai tu smjha hi nahin ab tak ki aj baarish bo...
4           4  Zindagi Ki BheeK To Kisi Sourat ManGi Na Gahi,...

In [8]:
print(text_mixed["tweets"].tolist())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [0]:
text_mixed = text_mixed.sample(frac=1).sample(frac=1).sample(frac=1).sample(frac=1)

In [10]:
text_mixed['tweets'].head()

375002                           à¤¤à¥‚ à¤¹à¤°à¤¾à¤®à¤–à¥‹à¤° à¤¹à¥ˆ à¤¹à¥€ à¤‡à¤¸ à¤²à¤¾à¤¯à¤• à¥¤
23387     So these are trends Tamil New Year Vishu #AbKi...
360195    Dei.. ippa namma thalaivar dhanush odu unga ku...
351150                             MashaAllah khair mubarak
195434      aise hindu ki vajah se hindustan pichhe hai....
Name: tweets, dtype: object

In [0]:
import re
def getHindi(input_list):
  regex = "[\u0900-\u097F]"
  output_list = []
  for test_text in input_list:
      try:
        match = re.search(regex, test_text)
        if match is None:
          output_list.append(test_text)
      except Exception as e:
        print(e, test_text)
  return output_list

In [12]:
text_pure = pd.DataFrame(getHindi(text_mixed["tweets"].tolist()), columns=["tweets"])
text_pure.head()

expected string or bytes-like object nan

                                              tweets
0  So these are trends Tamil New Year Vishu #AbKi...
1  Dei.. ippa namma thalaivar dhanush odu unga ku...
2                           MashaAllah khair mubarak
3    aise hindu ki vajah se hindustan pichhe hai....
4  Is Diwali main mera anuman hai ki Narendra Mod...

In [13]:
print(len(text_pure))
text_pure

306259

                                                   tweets
0       So these are trends Tamil New Year Vishu #AbKi...
1       Dei.. ippa namma thalaivar dhanush odu unga ku...
2                                MashaAllah khair mubarak
3         aise hindu ki vajah se hindustan pichhe hai....
4       Is Diwali main mera anuman hai ki Narendra Mod...
...                                                   ...
306254  Indian team for 3rd test\n\n1. Ashwin\n2. Dhaw...
306255  Aap ko bhai Diwali aur naya saal ki bahut babu...
306256  Jammu Kashmir Mein Raajya Ke Jhande Par Aur Ba...
306257  @gooner_saad baat aise kar rahay ho jaise saar...
306258  I love Pak Army har wo insan mera dushman hy j...

[306259 rows x 1 columns]

In [0]:
text_pure_processed = pd.DataFrame(text_pure["tweets"].apply(preprocess), columns=["tweets"])

In [15]:
text_pure_processed

                                                   tweets
0       so these are trends tamil new year vishu #abki...
1       dei.. ippa namma thalaivar dhanush odu unga ku...
2                                mashaallah khair mubarak
3         aise hindu ki vajah se hindustan pichhe hai....
4       is diwali main mera anuman hai ki narendra mod...
...                                                   ...
306254  indian team for rd test . ashwin . dhawan . pu...
306255  aap ko bhai diwali aur naya saal ki bahut babu...
306256  jammu kashmir mein raajya ke jhande par aur ba...
306257  @gooner_saad baat aise kar rahay ho jaise saar...
306258  i love pak army har wo insan mera dushman hy j...

[306259 rows x 1 columns]

In [16]:
(text_pure_processed["tweets"].tolist()[100210])

'shimla samjhota yaad hai ya vo bhi bhul gaye ek jhatke me kashmir humara ho sakta tha sena ki puri mahnat par pani fer diya tha indra gandhi ne'

In [17]:
print(preprocess("""hi
hello"""))

hi hello

In [18]:
print("""hi 
hello""")

hi
hello

In [0]:
text_pure_processed.to_csv("/content/SemEval_weights_data/twitter_scraped/twitter_cleaned.csv")

## Train Model

In [0]:
from gensim.models.callbacks import CallbackAny2Vec
from gensim.models import FastText
import time

In [0]:
#fasttext hyperparameters
SIZE = 200
EPOCHS = 300
MIN_COUNT = 15
WINDOW_SIZE = 10

In [0]:
class callback(CallbackAny2Vec):
    '''Callback to print loss after each epoch.'''

    def __init__(self):
        self.epoch = 0
        self.prev_time = time.time()
    def on_epoch_end(self, model):
        time_consumed = time.time() - self.prev_time
        self.prev_time = time.time()
        print("Epoch no.",self.epoch, ",Progress", (self.epoch/EPOCHS)*100,"%,Time Taken:",time_consumed)
        self.epoch += 1

In [23]:
model = FastText(size=SIZE, callbacks=[callback()])  # instantiate
model.build_vocab(sentences=text_pure_processed["tweets"].tolist())
print(model)

FastText(vocab=326, size=200, alpha=0.025)

In [0]:
model.train(sentences=text_pure_processed["tweets"].tolist(), total_examples=len(text_pure_processed["tweets"].tolist()), epochs=EPOCHS)

Epoch no. 0 ,Progress 0.0 ,Time Taken: 19.004945755004883
Epoch no. 1 ,Progress 0.0033333333333333335 ,Time Taken: 15.234093189239502
Epoch no. 2 ,Progress 0.006666666666666667 ,Time Taken: 15.318042278289795
Epoch no. 3 ,Progress 0.01 ,Time Taken: 15.47352409362793
Epoch no. 4 ,Progress 0.013333333333333334 ,Time Taken: 15.478732109069824
Epoch no. 5 ,Progress 0.016666666666666666 ,Time Taken: 15.718165397644043
Epoch no. 6 ,Progress 0.02 ,Time Taken: 15.499957799911499
Epoch no. 7 ,Progress 0.023333333333333334 ,Time Taken: 15.280572175979614
Epoch no. 8 ,Progress 0.02666666666666667 ,Time Taken: 15.319391965866089
Epoch no. 9 ,Progress 0.03 ,Time Taken: 15.19765043258667
Epoch no. 10 ,Progress 0.03333333333333333 ,Time Taken: 15.262921810150146
Epoch no. 11 ,Progress 0.03666666666666667 ,Time Taken: 15.313400268554688
Epoch no. 12 ,Progress 0.04 ,Time Taken: 15.389121532440186
Epoch no. 13 ,Progress 0.043333333333333335 ,Time Taken: 15.355553150177002
Epoch no. 14 ,Progress 0.04666666666666667 ,Time Taken: 15.476675510406494
Epoch no. 15 ,Progress 0.05 ,Time Taken: 15.356213092803955
Epoch no. 16 ,Progress 0.05333333333333334 ,Time Taken: 15.338595151901245
Epoch no. 17 ,Progress 0.056666666666666664 ,Time Taken: 15.35899019241333
Epoch no. 18 ,Progress 0.06 ,Time Taken: 15.49103307723999
Epoch no. 19 ,Progress 0.06333333333333334 ,Time Taken: 15.404383659362793
Epoch no. 20 ,Progress 0.06666666666666667 ,Time Taken: 15.289204359054565
Epoch no. 21 ,Progress 0.07 ,Time Taken: 15.285830974578857
Epoch no. 22 ,Progress 0.07333333333333333 ,Time Taken: 15.328449010848999
Epoch no. 23 ,Progress 0.07666666666666666 ,Time Taken: 15.30100393295288
Epoch no. 24 ,Progress 0.08 ,Time Taken: 15.229063034057617
Epoch no. 25 ,Progress 0.08333333333333333 ,Time Taken: 15.478880643844604
Epoch no. 26 ,Progress 0.08666666666666667 ,Time Taken: 15.696791410446167
Epoch no. 27 ,Progress 0.09 ,Time Taken: 15.157655477523804
Epoch no. 28 ,Progress 0.09333333333333334 ,Time Taken: 15.09273648262024
Epoch no. 29 ,Progress 0.09666666666666666 ,Time Taken: 15.145700693130493
Epoch no. 30 ,Progress 0.1 ,Time Taken: 15.347155809402466
Epoch no. 31 ,Progress 0.10333333333333333 ,Time Taken: 15.302601099014282
Epoch no. 32 ,Progress 0.10666666666666667 ,Time Taken: 15.265788793563843
Epoch no. 33 ,Progress 0.11 ,Time Taken: 15.255306005477905
Epoch no. 34 ,Progress 0.11333333333333333 ,Time Taken: 15.171321153640747
Epoch no. 35 ,Progress 0.11666666666666667 ,Time Taken: 15.208709478378296
Epoch no. 36 ,Progress 0.12 ,Time Taken: 15.178138494491577
Epoch no. 37 ,Progress 0.12333333333333334 ,Time Taken: 15.097486972808838
Epoch no. 38 ,Progress 0.12666666666666668 ,Time Taken: 15.252909898757935
Epoch no. 39 ,Progress 0.13 ,Time Taken: 15.33562707901001
Epoch no. 40 ,Progress 0.13333333333333333 ,Time Taken: 15.102004528045654
Epoch no. 41 ,Progress 0.13666666666666666 ,Time Taken: 15.003037929534912
Epoch no. 42 ,Progress 0.14 ,Time Taken: 15.095315217971802
Epoch no. 43 ,Progress 0.14333333333333334 ,Time Taken: 14.963794231414795
Epoch no. 44 ,Progress 0.14666666666666667 ,Time Taken: 14.882777452468872
Epoch no. 45 ,Progress 0.15 ,Time Taken: 14.931886672973633
Epoch no. 46 ,Progress 0.15333333333333332 ,Time Taken: 15.649052381515503
Epoch no. 47 ,Progress 0.15666666666666668 ,Time Taken: 15.196821212768555
Epoch no. 48 ,Progress 0.16 ,Time Taken: 15.021604299545288
Epoch no. 49 ,Progress 0.16333333333333333 ,Time Taken: 15.11519455909729
Epoch no. 50 ,Progress 0.16666666666666666 ,Time Taken: 15.184693098068237
Epoch no. 51 ,Progress 0.17 ,Time Taken: 15.231033563613892
Epoch no. 52 ,Progress 0.17333333333333334 ,Time Taken: 14.919033527374268
Epoch no. 53 ,Progress 0.17666666666666667 ,Time Taken: 15.06834101676941
Epoch no. 54 ,Progress 0.18 ,Time Taken: 15.170957088470459
Epoch no. 55 ,Progress 0.18333333333333332 ,Time Taken: 15.126664161682129
Epoch no. 56 ,Progress 0.18666666666666668 ,Time Taken: 14.89014196395874
Epoch no. 57 ,Progress 0.19 ,Time Taken: 14.706108093261719
Epoch no. 58 ,Progress 0.19333333333333333 ,Time Taken: 14.8778817653656
Epoch no. 59 ,Progress 0.19666666666666666 ,Time Taken: 14.744667530059814
Epoch no. 60 ,Progress 0.2 ,Time Taken: 14.647521257400513
Epoch no. 61 ,Progress 0.20333333333333334 ,Time Taken: 14.736535787582397
Epoch no. 62 ,Progress 0.20666666666666667 ,Time Taken: 14.851393938064575
Epoch no. 63 ,Progress 0.21 ,Time Taken: 14.851308584213257
Epoch no. 64 ,Progress 0.21333333333333335 ,Time Taken: 14.673245191574097
Epoch no. 65 ,Progress 0.21666666666666667 ,Time Taken: 14.725586414337158
Epoch no. 66 ,Progress 0.22 ,Time Taken: 14.99662446975708
Epoch no. 67 ,Progress 0.22333333333333333 ,Time Taken: 15.210081338882446
Epoch no. 68 ,Progress 0.22666666666666666 ,Time Taken: 14.632258892059326
Epoch no. 69 ,Progress 0.23 ,Time Taken: 14.809980154037476
Epoch no. 70 ,Progress 0.23333333333333334 ,Time Taken: 14.831373691558838
Epoch no. 71 ,Progress 0.23666666666666666 ,Time Taken: 14.75203275680542
Epoch no. 72 ,Progress 0.24 ,Time Taken: 14.646999835968018
Epoch no. 73 ,Progress 0.24333333333333335 ,Time Taken: 14.811676979064941
Epoch no. 74 ,Progress 0.24666666666666667 ,Time Taken: 14.89171814918518
Epoch no. 75 ,Progress 0.25 ,Time Taken: 14.81000542640686
Epoch no. 76 ,Progress 0.25333333333333335 ,Time Taken: 14.883150815963745
Epoch no. 77 ,Progress 0.25666666666666665 ,Time Taken: 15.08503007888794
Epoch no. 78 ,Progress 0.26 ,Time Taken: 14.998306512832642
Epoch no. 79 ,Progress 0.2633333333333333 ,Time Taken: 15.212023735046387
Epoch no. 80 ,Progress 0.26666666666666666 ,Time Taken: 14.88578724861145
Epoch no. 81 ,Progress 0.27 ,Time Taken: 15.018662929534912
Epoch no. 82 ,Progress 0.2733333333333333 ,Time Taken: 15.113217830657959
Epoch no. 83 ,Progress 0.27666666666666667 ,Time Taken: 15.064732074737549
Epoch no. 84 ,Progress 0.28 ,Time Taken: 14.943068742752075
Epoch no. 85 ,Progress 0.2833333333333333 ,Time Taken: 15.0022714138031
Epoch no. 86 ,Progress 0.2866666666666667 ,Time Taken: 15.044319152832031
Epoch no. 87 ,Progress 0.29 ,Time Taken: 15.388513803482056
Epoch no. 88 ,Progress 0.29333333333333333 ,Time Taken: 15.248963832855225
Epoch no. 89 ,Progress 0.2966666666666667 ,Time Taken: 15.235242128372192
Epoch no. 90 ,Progress 0.3 ,Time Taken: 15.219624042510986
Epoch no. 91 ,Progress 0.30333333333333334 ,Time Taken: 15.128568887710571
Epoch no. 92 ,Progress 0.30666666666666664 ,Time Taken: 14.964242935180664
Epoch no. 93 ,Progress 0.31 ,Time Taken: 15.28334665298462
Epoch no. 94 ,Progress 0.31333333333333335 ,Time Taken: 15.101608514785767
Epoch no. 95 ,Progress 0.31666666666666665 ,Time Taken: 15.074856281280518
Epoch no. 96 ,Progress 0.32 ,Time Taken: 14.962127923965454
Epoch no. 97 ,Progress 0.3233333333333333 ,Time Taken: 14.967650890350342
Epoch no. 98 ,Progress 0.32666666666666666 ,Time Taken: 15.072726249694824
Epoch no. 99 ,Progress 0.33 ,Time Taken: 14.945457696914673
Epoch no. 100 ,Progress 0.3333333333333333 ,Time Taken: 14.781592845916748
Epoch no. 101 ,Progress 0.33666666666666667 ,Time Taken: 14.906243324279785
Epoch no. 102 ,Progress 0.34 ,Time Taken: 14.987300157546997
Epoch no. 103 ,Progress 0.3433333333333333 ,Time Taken: 15.042620658874512
Epoch no. 104 ,Progress 0.3466666666666667 ,Time Taken: 14.809436559677124